---
version: "3.8"

services:
  minio:
    hostname: ${COMPOSE_PROJECT_NAME}
    domainname: ${LOCAL_DOMAIN}
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: ${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5
    command: server /data --console-address ":9001"
    expose:
      - "9000"
      - "9001"
    dns:
      - ${NS1_IP}
      - ${NS2_IP}
    dns_search: ${LOCAL_DOMAIN}
    networks:
      net1:
        ipv4_address: ${THIS_IP}

networks:
  net1:
    external: true
    name: ${LAN_NAME}

volumes:
  minio_data:
    driver_opts:
      type: "nfs"
      o: "addr=${MINIO_NFS_SERVER},nolock,rw,soft,nfsvers=4.2"
      device: ":${MINIO_NFS_PATH}"
