# Global
LOCAL_DOMAIN=site1.example.com
LAN_NAME=SERVER_VLAN
NS1_IP=192.168.16.1
NS2_IP=192.168.16.2
THIS_IP=192.168.16.15

# minio
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_NFS_SERVER=192.168.16.1
MINIO_NFS_PATH=/mnt/pool1/portainer/minio/data
